.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 8rem;
}

.nav {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

    &__link:link,
    &__link:visited {
        color: #FFF;
        font-size: 1.4rem;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        padding: 1.5rem;
        display: block;
        transition: all 0.2s;
    }

    &__link:hover,
    &__link:active {
        background-color: rgba($color: #FFF, $alpha: 0.05);
        transform: translateY(-3px);
    }
}

.copyright {
    color: #FFF;
    font-size: 1.4rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 6rem;
}